
<section >
      <img src=".\assets\homeImage2.jpg" alt="Los Angeles" draggable="false" style="width:100%; height:700px">
      <div class="tm-banner-inner">
          <h1 class="tm-banner-title">Find <span class="tm-yellow-text">The Best</span> Place</h1>
          <p class="tm-banner-subtitle">Nothing is pleasanter than exploring a library.</p>
          <a href="#more" class="tm-banner-link" >Learn More</a>     
      </div>
      <input type="image"  class="over-img"  src="./assets/adminnnn.png" name="saveForm" (click)="onClick()" id="saveForm" /> 
 <input type="image"  class="over-img1"  src=".\assets\memberlogin1.jpg" name="saveForm" (click)="onClickMember()" id="saveForm" />   
</section>
<!-- <router-outlet></router-outlet> -->